@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Open+Sans:wght@300;400;700&family=Uchen&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    scroll-behavior: smooth;
}

/*Bootstrap Overwrites*/
ul {
    margin-bottom: 0;
    padding-left: 0;
}

a:hover {
    color: inherit;
}

a:not([href]):not([class]) {
    color: white;
}

h2 {
    line-height: normal;
    margin-block-start: 0;
    margin-block-end: 0;
}


.container-cass {
    margin: 0 10%;
    display: flex;
}

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    background-color: #FEFBF6;
    display: flex;
    justify-content: center;
    box-shadow: inset 1px 1px 2px grey;
}

header>nav>ul {
    list-style: none;
    display: flex;
}

header>nav>ul>li {
    display: flex;
}

header>nav>ul>li>a {
    font-size: 18px;
    font-weight: lighter;
    color: #3D3C42;
    padding: 20px 10px;
    text-decoration: none;
    position: relative;
}

header>nav>ul>li>a::after {
    content: "";
    height: 6%;
    width: 0;
    background-color: #A6D1E6;
    position: absolute;
    left: 0;
    top: 94%;
}

header>nav>ul>li>a:hover::after {
    transition: 0.5s ease-out;
    width: 100%;
}

/*Section Perfil*/

section#inicio {
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
}

section#inicio>.container-cass {
    flex-direction: column;
    align-items: center;
}

section#inicio>.container-cass>h1 {
    color: #3D3C42;
    font-size: 2.8rem;
    font-weight: lighter;
    margin-bottom: 20px;
    animation: 1s show-left ease;
}

section#inicio>.container-cass>img {
    width: 300px;
    margin-bottom: 20px;
    animation: 2s show-left ease;
}

section#inicio>.container-cass>p {
    padding: 10px 0;
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
    color: #3D3C42;
    animation: 3s show-left ease;
}

/*Section Habilidades*/

section#habilidades {
    display: flex;
    margin: 50px 0;
    padding-top: 50px;
    background-color: #FEFBF6;
}

section#habilidades>.container-cass {
    flex-direction: column;
    align-items: center;
}

section#habilidades>.container-cass>div {
    margin: 50px auto;
    display: flex;
}

section#habilidades>.container-cass>h2 {
    margin: 30px 0;
    font-size: 30px;
    font-weight: normal;
    color: #3D3C42;
}

section#habilidades>.container-cass>div>div {
    text-align: center;
    padding: 40px;
    background-color: #3D3C42;
    color: white;
    border-radius: 10px;
    flex: 1;
    margin: 0 2%;
}

section#habilidades>.container-cass>div>div:hover {
    background-color: transparent;
    color: #3D3C42;
    transition: 1s;
}

section#habilidades>.container-cass>div>div:hover>h3 {
    animation: flipInY 1s;
}

section#habilidades>.container-cass>div>div:hover>p {
    animation: flipInY 1.5s;
}

section#habilidades>.container-cass>div>div>img {
    width: 50px;
    padding-bottom: 5px;
}

section#habilidades>.container-cass>div>div>h3 {
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 20px;
}

/*Section Experiências*/

section#experiencias {
    margin: 50px 0;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#experiencias>.container-cass {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#experiencias>.container-cass>h2 {
    margin: 30px 0;
    font-size: 30px;
    font-weight: normal;
    color: #3D3C42;
}

.carousel-inner {
    max-width: 80%;
    margin: 0 10%;
}

.carousel-item {
    text-align: center;
}

.carousel-item>div {
    background-color: #A6D1E6;
    margin: 50px 5%;
    padding: 50px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-item>div>h3 {
    color: white;
    text-shadow: 1px 1px .5px black;
    padding-bottom: 10px;
    font-size: 20px;
}

.carousel-item>div>h4 {
    font-weight: normal;
    font-size: 18px;
    padding-bottom: 20px;
    color: #3D3C42;
}

.carousel-item>div>p {
    color: #3D3C42;
    padding: 5px 0;
    font-weight: lighter;
    font-size: 17px;
}

.carousel-item>div>a>img:hover {
    animation: 1s rubberBand;
}

.carousel-item>div>a>img {
    position: absolute;
    background-color: white;
    width: 70px;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid #A6D1E6;
    top: -5%;
    right: -5%;
}

.carousel-item>div::after {
    content: "";
    position: absolute;
    top: 99%;
    left: 10%;
    border-width: 20px;
    border-color: #A6D1E6 transparent transparent #A6D1E6;
    border-style: solid;
}

.carousel-indicators {
    bottom: 10%;
}

.carousel-control-prev-icon {
    background-color: #A6D1E6;
    border-radius: 5px;
}

.carousel-control-next-icon {
    background-color: #A6D1E6;
    border-radius: 5px;
}

/*Section Formacao*/
section#formacao {
    padding: 100px 0;
    background-color: #FEFBF6;
}

section#formacao>.container-cass {
    flex-direction: column;
    align-items: center;
}

section#formacao>.container-cass>h2 {
    margin: 30px 0;
    font-size: 30px;
    font-weight: normal;
    color: rgb(50, 50, 50);
}

section#formacao>.container-cass>div {
    width: 100%;
    overflow-x: scroll;
}

table {
    margin: 50px auto;
}

thead {
    font-weight: bold;
    font-size: 20px;
    background-color: #3D3C42;
    color: white;
}

td {
    padding: 20px;
}

/*Footer*/

footer p {
    font-size: 20px;
    padding: 10px;
}

footer li {
    list-style-type: none;
    padding: 0;
}

footer a {
    text-decoration: none;
    color: white;
    padding: 0;
    font-size: 18px;
    font-weight: lighter;
}

.institucional a:hover,
.mais a:hover,
.redes-sociais:hover {
    color: #A6D1E6;
}

footer h3 {
    color: #A6D1E6;
    margin-bottom: 5px;
}

footer {
    display: flex;
    background-color: #3D3C42;
    padding: 10px 0;
}

footer>.institucional {
    margin-left: 10%;
    flex: 3;
}

footer>.redes-sociais {
    flex: 3;
}

footer>.mais {
    margin-right: 10%;
    flex: 1;
}

footer>.redes-sociais>ul {
    display: flex;
}

footer>.redes-sociais>ul>li>a {
    margin-right: 5px;
}

footer>.redes-sociais>ul>li>a>i {
    width: 30px;
    cursor: pointer;
}

footer>.redes-sociais>ul>li>a>i:hover {
    animation: .5s pulse1 3 ease;
    color: #A6D1E6;
}

/*Media Queries*/

/*Big Desktops*/
@media screen and (min-width: 1440px) {
    section#experiencias>.container-cass>div {
        max-width: 60%;
    }

    section#experiencias>.container-cass>div::after {
        border-width: 25px;
    }
}

@media screen and (max-width: 1100px) {

    section#habilidades>.container-cass>div {
        flex-direction: column;
        margin: 0px auto;
    }

    section#habilidades>.container-cass>div>div {
        margin: 20px auto;
    }

    section#habilidades>.container-cass>div:last-child>div:last-child {
        margin-top: 20px;
        margin-bottom: 40px;
    }

}

/*Tablets*/
@media screen and (max-width: 767px) {

    /*Habilidades 767px*/
    section#inicio>.container-cass>img {
        width: 250px;
    }

    section#inicio>.container-cass>h1 {
        font-size: 2.2rem;
    }

    section#inicio>.container-cass>p {
        font-size: 1.1rem;
    }

    section#habilidades>.container-cass>div {
        flex-direction: column;
        margin: 0px 10%;
    }

    section#habilidades {
        margin: 40px 0;
        padding-top: 35px;
    }

    section#habilidades>.container-cass>h2 {
        margin-top: 15px;
        font-size: 25px;
    }

    section#habilidades>.container-cass>div>div>img {
        width: 45px;
        padding-bottom: 5px;
    }

    section#habilidades>.container-cass>div>div>h3 {
        font-size: 17px;
        padding-bottom: 20px;
    }

    section#habilidades>.container-cass>div>div>p {
        font-size: 13px;
    }

    section#habilidades>.container-cass>div>div {
        padding: 30px;
        margin: 20px 5%;
    }

    section#experiencias>.container-cass>h2 {
        margin-top: 20px;
        font-size: 20px;
    }

    section#experiencias {
        padding-top: 10px;
    }

    .carousel-inner {
        max-width: 90%;
        margin: 0 5%;
    }

    .carousel-inner {
        max-width: 80%;
        margin: 0 10%;
    }

    .carousel-item>div {
        margin: 30px 5%;
        padding: 25px;
        border-radius: 10px;
    }

    .carousel-item>div>h3 {
        font-size: 19px;
    }

    .carousel-item>div>h4 {
        font-size: 17px;
        padding-bottom: 10px;
    }

    .carousel-item>div>p {
        font-size: 15px;
    }

    .carousel-item>div>a>img {
        width: 60px;
    }

    .carousel-item>div::after {
        border-width: 15px;
    }

    table {
        margin: 40px auto;
        width: 100%;
    }

    thead {
        font-weight: bold;
        font-size: 18px;
        color: white;
    }

    td {
        padding: 10px;
    }
}

/*Smartphones*/
@media screen and (max-width: 580px) {

    /*Header 580px*/
    header>nav>ul>li>a {
        font-size: 15px;
        padding: 15px 4px;
    }

    /*Início 580px*/
    section#inicio>.container-cass>h1 {
        margin-bottom: 15px;
    }

    section#inicio>.container-cass>img {
        width: 200px;
        margin-bottom: 20px;
    }

    section#inicio>.container-cass>p {
        margin: 0 5%;
        padding: 5px 0;
        font-size: .9rem;
    }

    section#inicio {
        padding-top: 70px;
    }

    /*Habilidades 580px*/
    section#habilidades {
        margin: 20px 0;
    }

    section#habilidades>.container-cass>h2 {
        margin-top: 15px;
        font-size: 1.1rem;
    }

    section#habilidades>.container-cass>div {
        margin: 0 5%;
    }

    section#habilidades>.container-cass>div>div {
        padding: 15px;
        margin: 20px 0;
    }

    section#habilidades>.container-cass>div>div>img {
        width: 35px;
        padding-bottom: 5px;
    }

    section#habilidades>.container-cass>div>div>h3 {
        font-size: .9rem;
        padding-bottom: 20px;
    }

    section#habilidades>.container-cass>div>div>p {
        font-size: .75rem;
    }

    /*Experiências 580px*/

    section#experiencias {
        margin: 25px 0;
        padding-top: 25px;
    }

    section#experiencias>.container-cass>h2 {
        margin-top: 20px;
        font-size: 1.25rem;
    }

    .carousel-inner {
        max-width: 90%;
        margin: 0 5%;
    }

    .carousel-item>div {
        margin: 20px 5%;
        padding: 15px;
    }

    .carousel-item>div>h3 {
        font-size: 18px;
    }

    .carousel-item>div>h4 {
        font-size: 16px;
        padding-bottom: 5px;
    }

    .carousel-item>div>p {
        font-size: 14px;
    }

    .carousel-item>div>a>img {
        width: 50px;
    }

    .carousel-control-prev-icon {
        margin-right: 50%;
    }

    .carousel-control-next-icon {
        margin-left: 50%;
    }

    .carousel-indicators {
        bottom: 5%;
    }

    .carousel-item>div::after {
        border-width: 10px;
    }

    /*Formacao*/
    section#formacao {
        padding: 50px 0;
    }

    section#formacao>.container-cass>h2 {
        margin-top: 20px;
        font-size: 25px;
    }

    table {
        width: 370px;
    }

    thead {
        vertical-align: center;
        font-size: 1rem;
    }

    td {
        padding: 0;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    footer>.institucional {
        margin: 0;
        margin-bottom: 10px;
    }

    footer>.institucional>ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer>.redes-sociais {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-bottom: 10px;
    }

    footer>.redes-sociais>ul {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    footer>.mais {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-bottom: 10px;
    }

    footer>.mais>ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer>.redes-sociais>ul>li>a {
        margin-right: 5px;
    }

    footer>.redes-sociais>ul>li>a>i {
        width: 30px;
        cursor: pointer;
    }
}

@media screen and (max-width: 370px) {

    /*Início*/
    section#inicio>.container-cass>h1 {
        font-size: 1.5rem;
    }

    header>nav>ul>li>a {
        font-size: .7rem;
    }

    section#inicio>.container-cass>img {
        width: 180px;
    }

    section#inicio>.container-cass>p {
        font-size: .8rem;
    }


    /*Habilidades*/
    section#habilidades>.container-cass>h2 {
        margin-top: 15px;
        font-size: 1rem;
    }

    section#habilidades>.container-cass>div>div {
        padding: 10px;
        margin: 10px 0;
    }

    section#habilidades>.container-cass>div>div>img {
        width: 30px;
        padding-bottom: 5px;
    }

    section#habilidades>.container-cass>div>div>h3 {
        font-size: .8rem;
        padding-bottom: 15px;
    }

    section#habilidades>.container-cass>div>div>p {
        font-size: .65rem;
    }


    /*Experiencias*/

    section#experiencias {
        margin: 25px 0;
        padding-top: 25px;
    }

    section#experiencias>.container-cass>h2 {
        margin-top: 20px;
        font-size: 1.25rem;
    }

    .carousel-item>div {
        padding: 10px;
    }

    .carousel-item>div>h3 {
        font-size: 1rem;
        padding-bottom: 5px;
    }

    .carousel-item>div>h4 {
        font-size: .8rem;
        padding-bottom: 0;
    }

    .carousel-item>div>p {
        font-size: .75rem;
    }

    .carousel-item>div>a>img {
        width: 40px;
    }


    /*Formacao*/
    section#formacao {
        padding: 30px 0;
    }

    section#formacao>.container-cass>h2 {
        margin-top: 20px;
        font-size: 1.25rem;
    }

    thead {
        font-size: .9rem;
    }

    tbody {
        font-size: .8rem;
    }

    /*Footer*/
    footer>div>h3 {
        font-size: 1.3rem;
    }

    .institucional>ul>li>a {
        font-size: .9rem;
    }

    .mais>ul>li>a {
        font-size: .9rem;
    }

    footer>.redes-sociais>ul>li>a {
        font-size: .9rem;
    }
}


/*KeyFrames*/
@keyframes pulse1 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes show-left {
    0% {
        margin-left: -300%;
    }

    100% {
        margin-left: 0;
    }
}